<div id="edit-scroll">
	<div class="form-actions edit-page">
		<h2 class="form-horizontal">Edit Account</h2>

		<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
		  <%= f.error_notification %>

		  <%= f.input :email %>
		  <%= f.input :password, label: "New Password", autocomplete: "off" %>
		  <%= f.input :password_confirmation, label: "New Password Confirmation", autocomplete: "off" %>
		  <%= f.input :current_password %>
		 

		  
		    <%= f.submit "Update", class: "btn btn-primary btn-large" %>
		<% end %>

		<h2>Cancel Your Account</h2>
		<p>Simply hit the button to delete your account!</p>
		<p> <%= button_to "Cancel Account", registration_path(resource_name), :data => { :confirm => "You are making a giant mistake!" }, :method => :delete, class: "btn btn-danger" %></p>

		<%= link_to "Back", :back %>

	</div>
</div>