 <div class="form-actions">
	<%= simple_form_for(@pic, class: "form-horizontal") do |f| %>
	<%= f.error_notification %>
	<%= f.full_error :image_file_size, class: "alert alert-error" %>
	<%= f.full_error :image_content_type, class: "alert alert-error" %>

  	<%= f.input :image, label: "Upload an image" %>
    <%= f.input :description, as: :text, input_html: { rows: "5"} %>

	<%= f.button :submit, class: "btn btn-primary btn-large" %>

	<% end %>
 </div>

