<div class="form-actions list-page">
	<h1>Picture List</h1>
	<table class ="table table-striped">
		<% @pics.each do |pic| %>
			<%= link_to (image_tag pic.image(:medium)), pic %>
			<p><%= pic.description %></p>

			<%= link_to 'Show', pic, class: "btn btn-inverse" %>

			<%= link_to 'Edit', edit_pic_path(pic), class: "btn btn-inverse" %>

			<%= link_to 'Delete', pic, class: "btn btn-inverse", method: :delete, data: { confirm: 'Are you sure?' } %>
			<br></br>

			<%= link_to (image_tag pic.image(:medium)), pic %>
			<p><%= pic.description %></p>

			<%= link_to 'Show', pic, class: "btn btn-inverse" %>

			<%= link_to 'Edit', edit_pic_path(pic), class: "btn btn-inverse" %>

			<%= link_to 'Delete', pic, class: "btn btn-inverse", method: :delete, data: { confirm: 'Are you sure?' } %>
			<br></br>

			<%= link_to (image_tag pic.image(:medium)), pic %>
			<p><%= pic.description %></p>

			<%= link_to 'Show', pic, class: "btn btn-inverse" %>

			<%= link_to 'Edit', edit_pic_path(pic), class: "btn btn-inverse" %>

			<%= link_to 'Delete', pic, class: "btn btn-inverse", method: :delete, data: { confirm: 'Are you sure?' } %>
			<br></br>
		<% end %>

		<tr></tr>
		<td></td>
	</table>

	<%= link_to 'Upload Picture', new_pic_path, class: "btn btn-primary btn-large" %>
</div>