<h1>List of Pics</h1>

<table class ="table table-striped">
  <tr>
  </tr>
<% @pics.each do |pic| %>
  <tr>
    <td><%= link_to (image_tag pic.image(:medium)), pic %></td>
    <td><%= pic.description %></td>
    <td><%= link_to 'Show', pic %></td>
    <td><%= link_to 'Edit', edit_pic_path(pic) %></td>
    <td><%= link_to 'Delete', pic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pic', new_pic_path %>
