<div class="form-actions list-page">
  <h1>Picture List</h1>
  <%= link_to 'Upload Picture', new_pic_path, class: "btn btn-primary btn-large list-page-button" %>

    <% @pics.each do |pic| %>
    <div id="list-page-images">
             <% @user = current_user %>
         <% @userEmail = @user.email.split('@')[1] %>
          <% @sid = 0 %>
          <% if @userEmail == "uci.edu" %>
          <% School.all.each do |sch| %>
            <% if sch.name == "UCI"  %>
           <% @sid = sch.id %>
         <% end %>
         <% end %>
      <% elsif @userEmail == "stanford.edu" %>
       <% School.all.each do |sch| %>
        <% if sch.name == "STANFORD"  %>
        <% @sid = sch.id %>
          <% end %>
         <% end %>
       <% elsif @userEmail == "mit.edu" %>
       <% School.all.each do |sch| %>
        <% if sch.name == "MIT"  %>
        <% @sid = sch.id %>
        <% end %>
        <% end %>
       <% elsif @userEmail == "caltech.edu" %>
       <% School.all.each do |sch| %>
        <% if sch.name == "CIT"  %>
        <% @sid = sch.id %>
        <% end %>
        <% end %>
       <% elsif @userEmail == "usc.edu" %>
        <% School.all.each do |sch| %>
         <% if sch.name == "USC"  %>
          <% @sid = sch.id %>
         <% end %>
       <% end %>
      <% elsif @userEmail == "yale.edu" %>
        <% School.all.each do |sch| %>
        <% if sch.name == "YALE"  %>
        <% @sid = sch.id %>
        <%     end %>
        <%   end %>
      <%   elsif @userEmail == "dartmouth.edu" %>
       <%    School.all.each do |sch| %>
        <%       if sch.name == "DARTMOUTH"  %>
          <%     @sid = sch.id %>
       <%      end %>
       <%    end %>
        <% elsif @userEmail == "ucla.edu" %>
        <%   School.all.each do |sch| %>
         <%      if sch.name == "UCLA"  %>
         <%      @sid = sch.id %>
        <%     end %>
         <%  end %>
       <%  elsif @userEmail == "princeton.edu" %>
        <%   School.all.each do |sch| %>
        <%       if sch.name == "PRINCETON"  %>
         <%      @sid = sch.id %>
         <%    end %>
        <%   end %>
       <%  elsif @userEmail == "harvard.edu" %>
        <%   School.all.each do |sch| %>
        <%       if sch.name == "HARVARD"  %>
        <%       @sid = sch.id %>
        <%     end %>
       <%    end %>
       <%  end %> 
      <%= link_to (image_tag pic.image(:medium)), pic %>
          <p><%= pic.description %></p>
          <% if @sid != 0 %>
       <% if School.find(@sid) == pic.school %>
        <%= link_to 'Edit', edit_pic_path(pic), class: "btn" %>
        <%= link_to 'Delete', pic, class: "btn", method: :delete, data: { confirm: 'Are you sure?' } %>
       <% end %>
       <% end %>
      <br></br>
    </div>
    <% end %>


  
</div>

