
<div id="container">
        <div id="hscroll">
	        <div class="hwrapper">
                <div class="college-text">
                    <%= image_tag("college-text/uci.png", :alt => "UCI") %>
                </div>
                <div class="vwrapper" id="vscroll1">
                    <div class="vwrapper-content">
                        <div class="image-links">
                            <div> 
                                <%= image_tag("uci/UCI-7.jpg", :alt => "UCI") %>
                            </div>
                            <div> 
                                <%= image_tag("uci/UCI-2.jpg", :alt => "UCI") %>
                            </div>
                            <div> 
                                <%= image_tag("uci/UCI-3.jpg", :alt => "UCI") %>
                            </div>
                            <div> 
                                <%= image_tag("uci/UCI-4.jpg", :alt => "UCI") %>
                            </div>
                             <div> 
                                <%= image_tag("uci/UCI-5.jpg", :alt => "UCI") %>
                            </div>
                             <div> 
                                <%= image_tag("uci/UCI-6.jpg", :alt => "UCI") %>
                            </div>
                             <div> 
                                <%= image_tag("uci/UCI-7.jpg", :alt => "UCI") %>
                            </div>
                             <div> 
                                <%= image_tag("uci/UCI-8.jpg", :alt => "UCI") %>
                            </div>
                            <div> 
                                <%= image_tag("uci/UCI-3.jpg", :alt => "UCI") %>
                            </div>
                            <div> 
                                <%= image_tag("uci/UCI-2.jpg", :alt => "UCI") %>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="vwrapper" id="vscroll2">
                    <div class="vwrapper-content">
                        <div class="image-links">
                            <div> 
                                <a href="#work-1"></a>
                            </div>
                            <div> 
                                <a href="#work-2"></a>
                            </div>
                            <div> 
                                <a href="#work-3"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vwrapper" id="vscroll3">
                    <div class="vwrapper-content">
                       <div class="image-links">
                            <div> 
                                <a href="#services-1"></a>
                            </div>
                            <div> 
                                <a href="#services-2"></a>
                            </div>
                            <div> 
                                <a href="#services-3"></a>
                            </div>
                            <div> 
                                <a href="#services-4"></a>
                            </div>
                             <div> 
                                <a href="#services-5"></a>
                            </div>
                            <div> 
                                <a href="#services-6"></a>
                            </div>
                            <div> 
                                <a href="#services-7"></a>
                            </div>
                        </div>
                    </div>
                </div>
			    <div class="vwrapper" id="vscroll4">
                    <div class="vwrapper-content">
                        <div class="image-links" id="image-process">
                            <div> 
                                <a href="#process-1"></a>
                            </div>
                            <div> 
                                <a href="#process-2"></a>
                            </div>
                            <div> 
                                <a href="#process-3"></a>
                            </div>
                            <div> 
                                <a href="#process-4"></a>
                            </div>
                             <div >
                                <a href="#process-5"></a>
                            </div>
                            <div> 
                                <a href="#process-6"></a>
                            </div>
                            <div> 
                                <a href="#process-7"></a>
                            </div>
                            <div> 
                                <a href="#process-8"></a>
                            </div>
                            <div> 
                                <a href="#process-9"></a>
                            </div>
                        </div>
                    </div>
                </div>
			    <div class="vwrapper" id="vscroll5">
                    <div class="vwrapper-content">
                        <div class="image-links" id="image-company">
                            <div> 
                                <a href="#company-1"></a>
                            </div>
                            <div> 
                                <a href="#company-2"></a>
                            </div>
                            <div> 
                                <a href="#company-3"></a>
                            </div>
                            <div> 
                                <a href="#company-4"></a>
                            </div>
                            <div> 
                                <a href="#company-5"></a>
                            </div>
                        </div>
                    </div>
                </div>
			    <div class="vwrapper" id="vscroll6">
                    <div class="vwrapper-content">
                        <div class="image-links" id="image-careers">
                            <div> 
                                <a href="#careers-1"></a>
                            </div>
                            <div> 
                                <a href="#careers-2"></a>
                            </div>
                            <div> 
                                <a href="#careers-3"></a>
                            </div>
                            <div> 
                                <a href="#careers-4"></a>
                            </div>
                        </div>
                    </div>
                </div>
			    <div class="vwrapper" id="vscroll7">
                    <div class="vwrapper-content">
                        <div class="image-links" id="image-contact">
                            <div> 
                                <a href="#contact-1"></a>
                            </div>
                            <div> 
                                <a href="#contact-2"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vwrapper" id="vscroll8">
                    <div class="vwrapper-content">
                        <div class="image-links">
                             <div> 
                                <a href="#contact-1"></a>
                            </div>
                            <div> 
                                <a href="#contact-2"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vwrapper" id="vscroll9">
                    <div class="vwrapper-content">
                        <div class="image-links">
                             <div> 
                                <a href="#contact-1"></a>
                            </div>
                            <div> 
                                <a href="#contact-2"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vwrapper" id="vscroll10">
                    <div class="vwrapper-content">
                        <div class="image-links">
                             <div> 
                                <a href="#contact-1"></a>
                            </div>
                            <div> 
                                <a href="#contact-2"></a>
                            </div>
                        </div>
                    </div>
                </div>
	        </div>
        </div>
    </div>
    
    <div id="site-container">

        <div class="navig">
            <nav style="height: 62px; background-color: #000000; margin: 0;">
                <div class="content-menu-left">
                    <a href="/"><h1 class="codazen-logo"></h1></a>
                </div>
                <div class="content-menu-right">
                    <ul class="content-menu">
                        <li><a href="#" class="menu-link">About</a></li>
                        <li><a href="#" class="menu-link">Work</a></li>
                        <li><a href="#" class="menu-link">Services</a></li>
                        <li><a href="#" class="menu-link">Process</a></li>
                        <li><a href="#" class="menu-link">Company</a></li>
                        <li><a href="#" class="menu-link">Careers</a></li>
                        <li><a href="#" class="menu-link">Contact</a></li>
                        <li><a href="/"><img src="img/kinetic-menu.png" /></a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div id="hscroll-main">
            <div id="hscroll-main-wrapper">
                <div class="section-container" id="vcscroll1">
                    <div class="section">
                        <div class="panes" id="home1"></div>
                        <div class="panes" id="home2"></div>
                        <div class="panes" id="home3"></div>
                        <div class="panes" id="home4"></div>
                    </div>
                </div>
                <div class="section-container" id="vcscroll2">
                    <div class="section">
                        <div class="panes" id="work1"></div>
                        <div class="panes" id="work2"></div>
                        <div class="panes" id="work3"></div>
                    </div>
                </div>
                <div class="section-container" id="vcscroll3">
                    <div class="section">
                        <div class="panes" id="services1"></div>
                        <div class="panes" id="services2"></div>
                        <div class="panes" id="services3"></div>
                        <div class="panes" id="services4"></div>
                        <div class="panes" id="services5"></div>
                        <div class="panes" id="services6"></div>
                        <div class="panes" id="services7"></div>
                    </div>
                </div>
                <div class="section-container" id="vcscroll4">
                    <div class="section">
                        <div class="panes" id="process1"></div>
                        <div class="panes" id="process2"></div>
                        <div class="panes" id="process3"></div>
                        <div class="panes" id="process4"></div>
                        <div class="panes" id="process5"></div>
                        <div class="panes" id="process6"></div>
                        <div class="panes" id="process7"></div>
                        <div class="panes" id="process8"></div>
                        <div class="panes" id="process9"></div>
                    </div>
                </div>
                <div class="section-container" id="vcscroll5">
                    <div class="section">
                        <div class="panes" id="company1"></div>
                        <div class="panes" id="company2"></div>
                        <div class="panes" id="company3"></div>
                        <div class="panes" id="company4"></div>
                        <div class="panes" id="company5"></div>
                    </div>
                </div>
                <div class="section-container" id="vcscroll6">
                    <div class="section">
                        <div class="panes" id="careers1"></div>
                        <div class="panes" id="careers2"></div>
                        <div class="panes" id="careers3"></div>
                        <div class="panes" id="careers4"></div>
                    </div>
                </div>
                <div class="section-container" id="vcscroll7">
                    <div class="section">
                        <div class="panes" id="contact1"></div>
                        <div class="panes" id="contact2"></div>
                    </div>
                </div>
                <div id="bottom-border">
                    <div id="bottom-border-about"></div>
                    <div id="bottom-border-work"></div>
                    <div id="bottom-border-services"></div>
                    <div id="bottom-border-process"></div>
                    <div id="bottom-border-company"></div>
                    <div id="bottom-border-careers"></div>
                    <div id="bottom-border-contact"></div>
                </div>
			</div>
		</div>
	</div>
