
<div id="container">
        <div id="hscroll">
	        <div class="hwrapper">
                <div class="college-text">
                    <%= image_tag("college-text/uci.png", :alt => "UCI") %>
                    <%= image_tag("college-text/stanford.png", :alt => "UCI") %>
                    <%= image_tag("college-text/mit.png", :alt => "UCI") %>
                    <%= image_tag("college-text/cit.png", :alt => "UCI") %>
                    <%= image_tag("college-text/yale.png", :alt => "UCI") %>
                    <%= image_tag("college-text/usc.png", :alt => "UCI") %>
                    <%= image_tag("college-text/dartmouth.png", :alt => "UCI") %>
                    <%= image_tag("college-text/ucla.png", :alt => "UCI") %>
                    <%= image_tag("college-text/princeton.png", :alt => "UCI") %>
                    <%= image_tag("college-text/harvard.png", :alt => "UCI") %>
                </div>
                <div class="vwrapper" id="vscroll1">
                    <div class="vwrapper-content">
                        <div class="image-links">
                            <div> 
                                <a href="#uci1">
                                    <% if Pic.exists?(Pic.last.id) %>
                                    <%= image_tag(Pic.find(Pic.last.id).image, :alt => "UCI") %>
                                    <% else %>
                                    <%= image_tag("uci/UCI-2.jpg", :alt => "UCI") %>
                                    <% end %>
                                </a>
                            </div>
                            <div> 
                                <a href="#uci2">
                                   <% if Pic.exists?(Pic.last.id-1) %>
                                    <%= image_tag(Pic.find(Pic.last.id-1).image, :alt => "UCI") %>
                                    <% else %>
                                     <%= image_tag("uci/UCI-3.jpg", :alt => "UCI") %>
                                    <% end %>
                                </a>
                            </div>
                            <div> 
                                <a href="#uci3">
                                  <% if Pic.exists?(Pic.last.id-2) %>
                                    <%= image_tag(Pic.find(Pic.last.id-2).image, :alt => "UCI") %>
                                    <% else %>
                                     <%= image_tag("uci/UCI-4.jpg", :alt => "UCI") %>
                                    <% end %>
                                </a>
                            </div>
                             <div> 
                                <a href="#uci4">
                                   <% if Pic.exists?(Pic.last.id-3) %>
                                    <%= image_tag(Pic.find(Pic.last.id-3).image, :alt => "UCI") %>
                                    <% else %>
                                     <%= image_tag("uci/UCI-5.jpg", :alt => "UCI") %>
                                    <% end %>
                                </a>
                            </div>
                             <div> 
                               <a href="#uci5">
                                    <% if Pic.exists?(Pic.last.id-4) %>
                                    <%= image_tag(Pic.find(Pic.last.id-4).image, :alt => "UCI") %>
                                    <% else %>
                                     <%= image_tag("uci/UCI-6.jpg", :alt => "UCI") %>
                                    <% end %>
                                </a>
                            </div>
                             <div> 
                                <a href="#uci6">
                                    <% if Pic.exists?(Pic.last.id-5) %>
                                    <%= image_tag(Pic.find(Pic.last.id-5).image, :alt => "UCI") %>
                                    <% else %>
                                    <%= image_tag("uci/UCI-7.jpg", :alt => "UCI") %>
                                    <% end %>
                                </a>
                            </div>
                             <div> 
                                <a href="#uci7">
                                    <% if Pic.exists?(Pic.last.id-6) %>
                                    <%= image_tag(Pic.find(Pic.last.id-6).image, :alt => "UCI") %>
                                    <% else %>
                                     <%= image_tag("uci/UCI-8.jpg", :alt => "UCI") %>
                                    <% end %>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vwrapper" id="vscroll2">
                    <div class="vwrapper-content">
                        <div class="image-links">
                            <div> 
                                <a href="#stanford1">
                                    <%= image_tag("stanford/stanford-1.jpg", :alt => "Stanford") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#stanford2">
                                    <%= image_tag("stanford/stanford-2.jpg", :alt => "Stanford") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#stanford3">
                                    <%= image_tag("stanford/stanford-3.jpg", :alt => "Stanford") %>
                                </a>
                            </div>
                             <div> 
                                <a href="#stanford4">
                                    <%= image_tag("stanford/stanford-4.jpg", :alt => "Stanford") %>
                                </a>
                            </div>
                             <div> 
                               <a href="#stanford5">
                                    <%= image_tag("stanford/stanford-5.jpg", :alt => "Stanford") %>
                                </a>
                            </div>
                             <div> 
                                <a href="#stanford6">
                                    <%= image_tag("stanford/stanford-6.jpg", :alt => "Stanford") %>
                                </a>
                            </div>
                             <div> 
                                <a href="#stanford7">
                                    <%= image_tag("stanford/stanford-7.jpg", :alt => "Stanford") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#stanford8">
                                    <%= image_tag("stanford/stanford-8.jpg", :alt => "Stanford") %>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vwrapper" id="vscroll3">
                    <div class="vwrapper-content">
                       <div class="image-links">
                            <div> 
                                <a href="#mit1">
                                    <%= image_tag("mit/mit-1.jpg", :alt => "MIT") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#mit2">
                                    <%= image_tag("mit/mit-2.jpg", :alt => "MIT") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#mit3">
                                    <%= image_tag("mit/mit-3.jpg", :alt => "MIT") %>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
			    <div class="vwrapper" id="vscroll4">
                    <div class="vwrapper-content">
                        <div class="image-links" id="image-process">
                            <div> 
                                <a href="#cit1">
                                    <%= image_tag("cit/cit-1.jpg", :alt => "Cal Tech") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#cit2">
                                    <%= image_tag("cit/cit-2.jpg", :alt => "Cal Tech") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#cit3">
                                    <%= image_tag("cit/cit-3.jpg", :alt => "Cal Tech") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#cit4">
                                    <%= image_tag("cit/cit-4.jpg", :alt => "Cal Tech") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#cit5">
                                    <%= image_tag("cit/cit-5.jpg", :alt => "Cal Tech") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#cit6">
                                    <%= image_tag("cit/cit-6.jpg", :alt => "Cal Tech") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#cit7">
                                    <%= image_tag("cit/cit-7.jpg", :alt => "Cal Tech") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#cit8">
                                    <%= image_tag("cit/cit-8.jpg", :alt => "Cal Tech") %>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
			    <div class="vwrapper" id="vscroll5">
                    <div class="vwrapper-content">
                        <div class="image-links" id="image-company">
                            <div> 
                                <a href="#yale1">
                                    <%= image_tag("yale/yale-1.jpg", :alt => "Yale") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#yale2">
                                    <%= image_tag("yale/yale-2.jpg", :alt => "Yale") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#yale3">
                                    <%= image_tag("yale/yale-3.jpg", :alt => "Yale") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#yale4">
                                    <%= image_tag("yale/yale-4.jpg", :alt => "Yale") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#yale5">
                                    <%= image_tag("yale/yale-5.jpg", :alt => "Yale") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#yale6">
                                    <%= image_tag("yale/yale-6.jpg", :alt => "Yale") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#yale7">
                                    <%= image_tag("yale/yale-7.jpg", :alt => "Yale") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#yale8">
                                    <%= image_tag("yale/yale-8.jpg", :alt => "Yale") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#yale9">
                                    <%= image_tag("yale/yale-9.jpg", :alt => "Yale") %>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
			    <div class="vwrapper" id="vscroll6">
                    <div class="vwrapper-content">
                        <div class="image-links" id="image-careers">
                            <div> 
                                <a href="#usc1">
                                    <%= image_tag("usc/usc-1.jpg", :alt => "USC") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#usc2">
                                    <%= image_tag("usc/usc-2.jpg", :alt => "USC") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#usc3">
                                    <%= image_tag("usc/usc-3.jpg", :alt => "USC") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#usc4">
                                    <%= image_tag("usc/usc-4.jpg", :alt => "USC") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#usc5">
                                    <%= image_tag("usc/usc-5.jpg", :alt => "USC") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#usc6">
                                    <%= image_tag("usc/usc-6.jpg", :alt => "USC") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#usc7">
                                    <%= image_tag("usc/usc-7.jpg", :alt => "USC") %>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
			    <div class="vwrapper" id="vscroll7">
                    <div class="vwrapper-content">
                        <div class="image-links" id="image-contact">
                            <div> 
                                <a href="#dartmouth1">
                                    <%= image_tag("dartmouth/dartmouth-1.jpg", :alt => "Dartmouth") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#dartmouth2">
                                    <%= image_tag("dartmouth/dartmouth-2.jpg", :alt => "Dartmouth") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#dartmouth3">
                                    <%= image_tag("dartmouth/dartmouth-3.jpg", :alt => "Dartmouth") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#dartmouth4">
                                    <%= image_tag("dartmouth/dartmouth-4.jpg", :alt => "Dartmouth") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#dartmouth5">
                                    <%= image_tag("dartmouth/dartmouth-5.jpg", :alt => "Dartmouth") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#dartmouth6">
                                    <%= image_tag("dartmouth/dartmouth-6.jpg", :alt => "Dartmouth") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#dartmouth7">
                                    <%= image_tag("dartmouth/dartmouth-7.jpg", :alt => "Dartmouth") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#dartmouth8">
                                    <%= image_tag("dartmouth/dartmouth-8.jpg", :alt => "Dartmouth") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#dartmouth9">
                                    <%= image_tag("dartmouth/dartmouth-9.jpg", :alt => "Dartmouth") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#dartmouth10">
                                    <%= image_tag("dartmouth/dartmouth-10.jpg", :alt => "Dartmouth") %>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vwrapper" id="vscroll8">
                    <div class="vwrapper-content">
                        <div class="image-links">
                             <div> 
                                <a href="#ucla1">
                                    <%= image_tag("ucla/ucla-1.jpg", :alt => "UCLA") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#ucla2">
                                    <%= image_tag("ucla/ucla-2.jpg", :alt => "UCLA") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#ucla3">
                                    <%= image_tag("ucla/ucla-3.jpg", :alt => "UCLA") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#ucla4">
                                    <%= image_tag("ucla/ucla-4.jpg", :alt => "UCLA") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#ucla5">
                                    <%= image_tag("ucla/ucla-5.jpg", :alt => "UCLA") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#ucla6">
                                    <%= image_tag("ucla/ucla-6.jpg", :alt => "UCLA") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#ucla7">
                                    <%= image_tag("ucla/ucla-7.jpg", :alt => "UCLA") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#ucla8">
                                    <%= image_tag("ucla/ucla-8.jpg", :alt => "UCLA") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#ucla9">
                                    <%= image_tag("ucla/ucla-9.jpg", :alt => "UCLA") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#ucla10">
                                    <%= image_tag("ucla/ucla-10.jpg", :alt => "UCLA") %>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vwrapper" id="vscroll9">
                    <div class="vwrapper-content">
                        <div class="image-links">
                            <div> 
                                <a href="#princeton1">
                                    <%= image_tag("princeton/princeton-1.jpg", :alt => "Princeton") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#princeton2">
                                    <%= image_tag("princeton/princeton-2.jpg", :alt => "Princeton") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#princeton3">
                                    <%= image_tag("princeton/princeton-3.jpg", :alt => "Princeton") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#princeton4">
                                    <%= image_tag("princeton/princeton-4.jpg", :alt => "Princeton") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#princeton5">
                                    <%= image_tag("princeton/princeton-5.jpg", :alt => "Princeton") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#princeto6n">
                                    <%= image_tag("princeton/princeton-6.jpg", :alt => "Princeton") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#princeton7">
                                    <%= image_tag("princeton/princeton-7.jpg", :alt => "Princeton") %>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vwrapper" id="vscroll10">
                    <div class="vwrapper-content">
                        <div class="image-links">
                            <div> 
                                <a href="#harvard1">
                                    <%= image_tag("harvard/harvard-1.jpg", :alt => "Harvard") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#harvard2">
                                    <%= image_tag("harvard/harvard-2.jpg", :alt => "Harvard") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#harvard3">
                                    <%= image_tag("harvard/harvard-3.jpg", :alt => "Harvard") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#harvard4">
                                    <%= image_tag("harvard/harvard-4.jpg", :alt => "Harvard") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#harvard5">
                                    <%= image_tag("harvard/harvard-5.jpg", :alt => "Harvard") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#harvard6">
                                    <%= image_tag("harvard/harvard-6.jpg", :alt => "Harvard") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#harvard7">
                                    <%= image_tag("harvard/harvard-7.jpg", :alt => "Harvard") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#harvard8">
                                    <%= image_tag("harvard/harvard-8.jpg", :alt => "Harvard") %>
                                </a>
                            </div>
                            <div> 
                                <a href="#harvard9">
                                    <%= image_tag("harvard/harvard-9.jpg", :alt => "Harvard") %>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
	        </div>
        </div>
    </div>
    
    <div id="site-container">
        <div id="hscroll-main">
            <div id="hscroll-main-wrapper">
                <div class="section-container" id="vcscroll1">
                    <div class="section">
                        <div class="panes"> 
                             <% if Pic.exists?(Pic.last.id) %>
                                    <%= image_tag(Pic.find(Pic.last.id).image, :alt => "UCI") %>
                                    <% else %>
                                      <%= image_tag("uci/UCI-2.jpg", :alt => "UCI") %>
                                    <% end %>
                        </div>
                        <div class="panes"> 
                             <% if Pic.exists?(Pic.last.id-1) %>
                                    <%= image_tag(Pic.find(Pic.last.id-1).image, :alt => "UCI") %>
                                    <% else %>
                                    <%= image_tag("uci/UCI-3.jpg", :alt => "UCI") %>
                                    <% end %>
                        </div>
                        <div class="panes"> 
                             <% if Pic.exists?(Pic.last.id-2) %>
                                    <%= image_tag(Pic.find(Pic.last.id-2).image, :alt => "UCI") %>
                                    <% else %>
                                      <%= image_tag("uci/UCI-4.jpg", :alt => "UCI") %>
                                    <% end %>
                        </div>
                         <div class="panes"> 
                             <% if Pic.exists?(Pic.last.id-3) %>
                                    <%= image_tag(Pic.find(Pic.last.id-3).image, :alt => "UCI") %>
                                    <% else %>
                                    <%= image_tag("uci/UCI-5.jpg", :alt => "UCI") %>
                                    <% end %>
                        </div>
                         <div class="panes"> 
                             <% if Pic.exists?(Pic.last.id-4) %>
                                    <%= image_tag(Pic.find(Pic.last.id-4).image, :alt => "UCI") %>
                                    <% else %>
                                     <%= image_tag("uci/UCI-6.jpg", :alt => "UCI") %>
                                    <% end %>
                        </div>
                         <div class="panes"> 
                             <% if Pic.exists?(Pic.last.id-5) %>
                                    <%= image_tag(Pic.find(Pic.last.id-5).image, :alt => "UCI") %>
                                    <% else %>
                                    <%= image_tag("uci/UCI-7.jpg", :alt => "UCI") %>
                                    <% end %>
                        </div>
                         <div class="panes"> 
                             <% if Pic.exists?(Pic.last.id-6) %>
                                    <%= image_tag(Pic.find(Pic.last.id-6).image, :alt => "UCI") %>
                                    <% else %>
                                      <%= image_tag("uci/UCI-8.jpg", :alt => "UCI") %>
                                    <% end %>
                        </div>
                    </div>
                </div>
                <div class="section-container" id="vcscroll2">
                    <div class="section">
                        <div class="panes"> 
                            <%= image_tag("stanford/stanford-1.jpg", :alt => "stanford") %>
                        </div>
                        <div class="panes"> 
                           <%= image_tag("stanford/stanford-2.jpg", :alt => "stanford") %>
                        </div>
                        <div class="panes"> 
                            <%= image_tag("stanford/stanford-3.jpg", :alt => "stanford") %>
                        </div>
                         <div class="panes"> 
                            <%= image_tag("stanford/stanford-4.jpg", :alt => "stanford") %>
                        </div>
                         <div class="panes"> 
                            <%= image_tag("stanford/stanford-5.jpg", :alt => "stanford") %>
                        </div>
                         <div class="panes"> 
                            <%= image_tag("stanford/stanford-6.jpg", :alt => "stanford") %>
                        </div>
                         <div class="panes"> 
                            <%= image_tag("stanford/stanford-7.jpg", :alt => "stanford") %>
                        </div>
                        <div class="panes"> 
                            <%= image_tag("stanford/stanford-8.jpg", :alt => "stanford") %>
                        </div>
                    </div>
                </div>
                <div class="section-container" id="vcscroll3">
                    <div class="section">
                        <div class="panes"> 
                            <%= image_tag("mit/mit-1.jpg", :alt => "MIT") %>
                        </div>
                        <div class="panes"> 
                            <%= image_tag("mit/mit-2.jpg", :alt => "MIT") %>
                        </div>
                        <div class="panes"> 
                            <%= image_tag("mit/mit-3.jpg", :alt => "MIT") %>
                        </div>
                    </div>
                </div>
                <div class="section-container" id="vcscroll4">
                    <div class="section">
                        <div class="panes"> 
                            <%= image_tag("cit/cit-1.jpg", :alt => "Cal Tech") %>
                        </div>
                        <div class="panes"> 
                            <%= image_tag("cit/cit-2.jpg", :alt => "Cal Tech") %>
                        </div>
                        <div class="panes"> 
                            <%= image_tag("cit/cit-3.jpg", :alt => "Cal Tech") %>
                        </div>
                        <div class="panes"> 
                            <%= image_tag("cit/cit-4.jpg", :alt => "Cal Tech") %>
                        </div>
                        <div class="panes"> 
                            <%= image_tag("cit/cit-5.jpg", :alt => "Cal Tech") %>
                        </div>
                        <div class="panes"> 
                            <%= image_tag("cit/cit-6.jpg", :alt => "Cal Tech") %>
                        </div>
                        <div class="panes"> 
                            <%= image_tag("cit/cit-7.jpg", :alt => "Cal Tech") %>
                        </div>
                         <div class="panes"> 
                            <%= image_tag("cit/cit-8.jpg", :alt => "Cal Tech") %>
                        </div>
                    </div>
                </div>
                <div class="section-container" id="vcscroll5">
                    <div class="section">
                        <div class="panes"> 
                            <%= image_tag("yale/yale-1.jpg", :alt => "Yale") %>
                        </div>
                        <div class="panes"> 
                            <%= image_tag("yale/yale-2.jpg", :alt => "Yale") %>
                        </div>
                        <div class="panes"> 
                            <%= image_tag("yale/yale-3.jpg", :alt => "Yale") %>
                        </div>
                        <div class="panes"> 
                            <%= image_tag("yale/yale-4.jpg", :alt => "Yale") %>
                        </div>
                        <div class="panes"> 
                            <%= image_tag("yale/yale-5.jpg", :alt => "Yale") %>
                        </div>
                        <div class="panes"> 
                            <%= image_tag("yale/yale-6.jpg", :alt => "Yale") %>
                        </div>
                        <div class="panes"> 
                            <%= image_tag("yale/yale-7.jpg", :alt => "Yale") %>
                        </div>
                        <div class="panes"> 
                            <%= image_tag("yale/yale-8.jpg", :alt => "Yale") %>
                        </div>
                        <div class="panes"> 
                            <%= image_tag("yale/yale-9.jpg", :alt => "Yale") %>
                        </div>
                    </div>
                </div>
                <div class="section-container" id="vcscroll6">
                    <div class="section">
                        <div class="panes"> 
                            <%= image_tag("usc/usc-1.jpg", :alt => "USC") %>
                        </div>
                        <div class="panes"> 
                            <%= image_tag("usc/usc-2.jpg", :alt => "USC") %>
                        </div>
                        <div class="panes"> 
                            <%= image_tag("usc/usc-3.jpg", :alt => "USC") %>
                        </div>
                        <div class="panes"> 
                            <%= image_tag("usc/usc-4.jpg", :alt => "USC") %>
                        </div>
                        <div class="panes"> 
                            <%= image_tag("usc/usc-5.jpg", :alt => "USC") %>
                        </div>
                        <div class="panes"> 
                            <%= image_tag("usc/usc-6.jpg", :alt => "USC") %>
                        </div>
                        <div class="panes"> 
                            <%= image_tag("usc/usc-7.jpg", :alt => "USC") %>
                        </div>
                    </div>
                </div>
                <div class="section-container" id="vcscroll7">
                    <div class="section">
                        <div class="panes"> 
                            <%= image_tag("dartmouth/dartmouth-1.jpg", :alt => "Dartmouth") %>
                        </div>
                        <div class="panes"> 
                            <%= image_tag("dartmouth/dartmouth-2.jpg", :alt => "Dartmouth") %>
                        </div>
                        <div class="panes"> 
                            <%= image_tag("dartmouth/dartmouth-3.jpg", :alt => "Dartmouth") %>
                        </div>
                        <div class="panes"> 
                            <%= image_tag("dartmouth/dartmouth-4.jpg", :alt => "Dartmouth") %>
                        </div>
                        <div class="panes"> 
                            <%= image_tag("dartmouth/dartmouth-5.jpg", :alt => "Dartmouth") %>
                        </div>
                        <div class="panes"> 
                            <%= image_tag("dartmouth/dartmouth-6.jpg", :alt => "Dartmouth") %>
                        </div>
                        <div class="panes"> 
                            <%= image_tag("dartmouth/dartmouth-7.jpg", :alt => "Dartmouth") %>
                        </div>
                        <div class="panes"> 
                            <%= image_tag("dartmouth/dartmouth-8.jpg", :alt => "Dartmouth") %>
                        </div>
                        <div class="panes"> 
                            <%= image_tag("dartmouth/dartmouth-9.jpg", :alt => "Dartmouth") %>
                        </div>
                        <div class="panes"> 
                            <%= image_tag("dartmouth/dartmouth-10.jpg", :alt => "Dartmouth") %>
                        </div>
                    </div>
                </div>
                <div class="section-container" id="vcscroll8">
                    <div class="section">
                        <div class="panes"> 
                            <%= image_tag("ucla/ucla-1.jpg", :alt => "UCLA") %>
                        </div>
                        <div class="panes"> 
                            <%= image_tag("ucla/ucla-2.jpg", :alt => "UCLA") %>
                        </div>
                        <div class="panes"> 
                            <%= image_tag("ucla/ucla-3.jpg", :alt => "UCLA") %>
                        </div>
                        <div class="panes"> 
                            <%= image_tag("ucla/ucla-4.jpg", :alt => "UCLA") %>
                        </div>
                        <div class="panes"> 
                            <%= image_tag("ucla/ucla-5.jpg", :alt => "UCLA") %>
                        </div>
                        <div class="panes"> 
                            <%= image_tag("ucla/ucla-6.jpg", :alt => "UCLA") %>
                        </div>
                        <div class="panes"> 
                            <%= image_tag("ucla/ucla-7.jpg", :alt => "UCLA") %>
                        </div>
                        <div class="panes"> 
                            <%= image_tag("ucla/ucla-8.jpg", :alt => "UCLA") %>
                        </div>
                        <div class="panes"> 
                            <%= image_tag("ucla/ucla-9.jpg", :alt => "UCLA") %>
                        </div>
                        <div class="panes"> 
                            <%= image_tag("ucla/ucla-10.jpg", :alt => "UCLA") %>
                        </div>
                    </div>
                </div>
                <div class="section-container" id="vcscroll9">
                    <div class="section">
                        <div class="panes"> 
                            <%= image_tag("princeton/princeton-1.jpg", :alt => "Princeton") %>
                        </div>
                       <div class="panes"> 
                            <%= image_tag("princeton/princeton-2.jpg", :alt => "Princeton") %>
                        </div>
                        <div class="panes"> 
                            <%= image_tag("princeton/princeton-3.jpg", :alt => "Princeton") %>
                        </div>
                        <div class="panes"> 
                            <%= image_tag("princeton/princeton-4.jpg", :alt => "Princeton") %>
                        </div>
                        <div class="panes"> 
                            <%= image_tag("princeton/princeton-5.jpg", :alt => "Princeton") %>
                        </div>
                        <div class="panes"> 
                            <%= image_tag("princeton/princeton-6.jpg", :alt => "Princeton") %>
                        </div>
                        <div class="panes"> 
                            <%= image_tag("princeton/princeton-7.jpg", :alt => "Princeton") %>
                        </div>
                    </div>
                </div>
                <div class="section-container" id="vcscroll10">
                    <div class="section">
                        <div class="panes"> 
                            <%= image_tag("harvard/harvard-1.jpg", :alt => "Harvard") %>
                        </div>
                       <div class="panes"> 
                            <%= image_tag("harvard/harvard-2.jpg", :alt => "Harvard") %>
                        </div>
                        <div class="panes"> 
                            <%= image_tag("harvard/harvard-3.jpg", :alt => "Harvard") %>
                        </div>
                        <div class="panes"> 
                            <%= image_tag("harvard/harvard-4.jpg", :alt => "Harvard") %>
                        </div>
                        <div class="panes"> 
                            <%= image_tag("harvard/harvard-5.jpg", :alt => "Harvard") %>
                        </div>
                        <div class="panes"> 
                            <%= image_tag("harvard/harvard-6.jpg", :alt => "Harvard") %>
                        </div>
                        <div class="panes"> 
                            <%= image_tag("harvard/harvard-7.jpg", :alt => "Harvard") %>
                        </div>
                        <div class="panes"> 
                            <%= image_tag("harvard/harvard-8.jpg", :alt => "Harvard") %>
                        </div>
                        <div class="panes"> 
                            <%= image_tag("harvard/harvard-9.jpg", :alt => "Harvard") %>
                        </div>
                    </div>
                </div>
                <div id="bottom-border">
                    <div id="bottom-border-uci"><span>University of California, Irvine</span></div>
                    <div id="bottom-border-stanford"><span>Stanford</span></span></div>
                    <div id="bottom-border-mit"><span>Massachusetts Institute of Technology</span></div>
                    <div id="bottom-border-cit"><span>California Institute of Technology</span></div>
                    <div id="bottom-border-yale"><span>Yale</span></div>
                    <div id="bottom-border-usc"><span>University of Southern California</span></div>
                    <div id="bottom-border-dartmouth"><span>Dartmouth</span></div>
                    <div id="bottom-border-ucla"><span>University of California, Los Angeles</span></div>
                    <div id="bottom-border-princeton"><span>Princeton</span></div>
                    <div id="bottom-border-harvard"><span>Harvard</span></div>
                </div>
			</div>
		</div>
	</div>
